# Dependencies
node_modules
npm-debug.log

# Build output
dist
tmp
out-tsc

# Version control
.git
.gitignore

# IDE files
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

# System Files
.DS_Store
Thumbs.db

# Docker files
.dockerignore
Dockerfile
docker-compose.yml

# Environment files (if they contain secrets)
# .env
# src/environments/*.ts