<cdk-virtual-scroll-viewport
  [itemSize]="itemSize"
  class="virtual-grid-viewport"
>
  <div class="virtual-grid-container">
    <div
      *cdkVirtualFor="
        let pokemon of pokemonHashMapToArray;
        trackBy: trackByIndex
      "
      class="pokemon-card virtual-grid-item"
    >
      <ng-container
        *ngIf="getPokemonDetail(pokemon.name) | async as detail; else loading"
      >
        <!-- <a [routerLink]="['/pokemon', getPokemonId(pokemon.url)]"
                >View Details</a
              > -->
        <pokemon-card [details]="pokemon"></pokemon-card>
      </ng-container>

      <ng-template #loading>
        <div
          *ngIf="
            isLoadingDetail(getPokemonId(pokemon.url)) | async;
            else notLoaded
          "
        >
          <div class="loader-spinner">
            <div></div>
          </div>
        </div>
        <ng-template #notLoaded>
          <button (click)="fetchPokemonDetail(pokemon)">Load Details</button>
        </ng-template>
      </ng-template>
    </div>
  </div>

  <div class="loading-indicator" *ngIf="isLoading$ | async">
    <p>Loading more Pokémon...</p>
  </div>

  <div
    class="end-message"
    *ngIf="
      !(hasMorePokemon$ | async) &&
      !(isLoading$ | async) &&
      pokemonListResult.length > 0
    "
  >
    <p>No more Pokémon to load!</p>
  </div>

  <div
    *ngIf="pokemonListResult.length === 0 && !(isLoading$ | async)"
    class="empty-state"
  >
    <p>No Pokémon found. Try refreshing the page.</p>
  </div>
</cdk-virtual-scroll-viewport>
