.main-container {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.content {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.pokemon-list-container {
  height: 100vh;
  padding: 0 0 20px 20px;
  width: 100%;
}

.card {
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 200px;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .content {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  .content {
    grid-template-columns: 1fr;
  }
}

.wrapping-pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
}

div.batch-loading-pokemon-container {
  position: relative;
  text-align: inherit;
  height: 250px;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  > div > .loader-spinner-container {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}


.no-results-container,
.batch-loading-pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.no-results-container img {
  width: 100px;
  height: 100px;
  opacity: 0.7;
}

.no-results-container h2 {
  margin-top: 15px;
  font-size: 22px;
  color: #ff4d4d;
}

.no-results-container p {
  margin-top: 5px;
  color: #777;
  font-size: 16px;
}