<app-header (onSearchChanged)="onSearchChanged($event)"></app-header>
<div class="main-container">
  <app-sidebar-filter (filtersChanged)="onFiltersChanged($event)"></app-sidebar-filter>

  <div class="pokemon-list-container">
    <div *ngIf="isLoading$ | async" class="progress-bar-container">
      <div class="overlay"></div>
      <div class="progress-bar-container-inner">
        <circle-progress
          [percent]="(totalLoaded$ | async)!"
          [radius]="120"
        ></circle-progress>
      </div>
    </div>
    <ng-container *ngIf="pokemonList$ | async as pokemonList">
      <cdk-virtual-scroll-viewport
        [itemSize]="itemSize"
        class="virtual-grid-viewport"
        *ngIf="pokemonList.length > 0"
      >
        <div class="virtual-grid-container">
          <div
            *cdkVirtualFor="
              let pokemon of pokemonHashMapToArray;
              trackBy: trackByIndex
            "
            class="pokemon-card virtual-grid-item"
          >
            <pokemon-card [details]="pokemon.details"></pokemon-card>
          </div>
        </div>

        <div class="loading-indicator" *ngIf="isLoading$ | async">
          <p>Loading more Pokémon...</p>
        </div>
      </cdk-virtual-scroll-viewport>
    </ng-container>

    <div class="no-results" *ngIf="(pokemonList$ | async)?.length === 0">
      <img src="https://cdn-icons-png.flaticon.com/512/188/188993.png" alt="No Results" />
      <h2>No Pokémon Found</h2>
      <p>Try adjusting your filters or searching for another Pokémon.</p>
    </div>
  </div>
</div>
