<app-header (onSearchChanged)="onSearchChanged($event)"></app-header>
<div class="main-container">
  <app-sidebar-filter
    (filtersChanged)="onFiltersChanged($event)"
  ></app-sidebar-filter>

  <div class="pokemon-list-container">
    <ng-container *ngIf="isBatchLoading$ | async">
      <div class="progress-bar-container">
        <div class="overlay"></div>
        <div class="progress-bar-container-inner">
          <circle-progress
            [radius]="120"
            [percent]="(totalLoaded$ | async) ?? 0"
            [subtitle]="((totalLoaded$ | async) ?? 0) + '%'"
            subtitleFontSize="30"
          >
          </circle-progress>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="isLoading$ | async">
      <div class="batch-loading-pokemon-container" *ngIf="(pokemonList$ | async)?.length === 0">
        <div>
          <div class="loader-spinner-container">
            <div class="loader-spinner"></div>
          </div>
          <p>Please wait while we load the Pokémon...</p>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="pokemonList$ | async as pokemonList">
      <cdk-virtual-scroll-viewport
        [itemSize]="itemSize"
        class="virtual-grid-viewport"
        *ngIf="pokemonList.length > 0"
      >
        <div class="virtual-grid-container">
          <div
            *cdkVirtualFor="
              let pokemon of pokemonHashMapToArray;
              trackBy: trackByIndex
            "
            class="pokemon-card virtual-grid-item"
          >
            <pokemon-card [details]="pokemon.details" (pokemonSelected)="onPokemonSelected($event)"></pokemon-card>
          </div>
        </div>

        <div class="loading-indicator" *ngIf="isLoading$ | async">
          <p>Loading more Pokémon...</p>
        </div>
      </cdk-virtual-scroll-viewport>
    </ng-container>

    <div
      class="no-results-container"
      *ngIf="(pokemonList$ | async)?.length === 0 && (isLoading$ | async) === false"
    >
      <img src="assets/images/jigglypuff.png" alt="No Results" />
      <h2>No Pokémon Found</h2>
      <p>Try adjusting your filters or searching for another Pokémon.</p>
    </div>
  </div>
</div>

<pokemon-detail-drawer
  [isDrawerOpen]="isDrawerOpen"
  [selectedPokemon]="selectedPokemon"
  (drawerClosed)="isDrawerOpen = false"
></pokemon-detail-drawer>
