.header {
  background-color: #e74c3c;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 250px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pokeball-logo {
  height: 60px;
  width: auto;
}

.pokedex-logo {
  height: 90px;
}

// Search Container

.search-container {
  position: relative;
  width: 90%;
  max-width: 600px;
  display: flex;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-input {
  flex-grow: 1;
  padding: 15px 20px;
  border: none;
  font-size: 16px;
  outline: none;
}

.search-button {
  background-color: #000000;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 67px;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 7px;
  right: 8px;
}

.search-icon {
  width: 20px;
  height: 20px;
}
