.header {
  background-color: #e74c3c;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 250px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pokeball-logo {
  height: 60px;
  width: auto;
}

.pokedex-logo {
  height: 90px;
}

// Search Container

.search-container {
  position: relative;
  width: 90%;
  max-width: 600px;
  display: flex;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-input {
  flex-grow: 1;
  padding: 15px 20px;
  border: none;
  font-size: 16px;
  outline: none;
}

.search-button {
  background-color: #000000;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 67px;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 7px;
  right: 8px;
}

.search-icon {
  width: 20px;
  height: 20px;
}


.search-options {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.toggle-switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 20px;
  transition: background 0.3s ease;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  margin-right: 8px;
}

.indicator {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  left: 2px;
  bottom: 2px;
  transition: transform 0.3s ease;
}

input:checked + .slider {
  background-color: #c0392b;  
  box-shadow: 0 0 8px rgba(231, 76, 60, 0.4);
}

input:checked + .slider .indicator {
  transform: translateX(16px);
}

.toggle-label {
  color: white;
  font-size: 14px;
}

