@import './variables';

.types {
  display: flex;
  gap: 5px;
}

.types div {
  display: inline-block;
  border-radius: 5px;
  padding: 2px 5px;
}

.types div > span {
  text-transform: capitalize;
  color: #fff;
  font-size: 14px;
}

.types div > img {
  margin-right: 5px;
  width: 10px;
  height: 10px;
}

.types .bug {
  background: $bug-color;
}

.types .dark {
  background: $dark-color;
}

.types .dragon {
  background: $dragon-color;
}

.types .electric {
  background: $electric-color;
}

.types .fairy {
  background: $fairy-color;
}

.types .fighting {
  background: $fighting-color;
}

.types .fire {
  background: $fire-color;
}

.types .flying {
  background: $flying-color;
}

.types .ghost {
  background: $ghost-color;
}

.types .grass {
  background: $grass-color;
}

.types .ground {
  background: $ground-color;
}

.types .ice {
  background: $ice-color;
}

.types .normal {
  background: $normal-color;
}

.types .poison {
  background: $poison-color;
}

.types .psychic {
  background: $psychic-color;
}

.types .rock {
  background: $rock-color;
}

.types .steel {
  background: $steel-color;
}

.types .water {
  background: $water-color;
}


/* style pokemon background color */
.bug {
  background-color: $bug-bg-color;
}

.dark {
  background-color: $dark-bg-color;
}

.dragon {
  background-color: $dragon-bg-color;
}

.electric {
  background-color: $electric-bg-color;
}

.fairy {
  background-color: $fairy-bg-color;
}

.fighting {
  background-color: $fighting-bg-color;
}

.fire {
  background-color: $fire-bg-color;
}

.flying {
  background-color: $flying-bg-color;
}

.ghost {
  background-color: $ghost-bg-color;
}

.grass {
  background-color: $grass-bg-color;
}

.ground {
  background-color: $ground-bg-color;
}

.ice {
  background-color: $ice-bg-color;
}

.normal {
  background-color: $normal-bg-color;
}

.poison {
  background-color: $poison-bg-color;
}

.psychic {
  background-color: $psychic-bg-color;
}

.rock {
  background-color: $rock-bg-color;
}

.steel {
  background-color: $steel-bg-color;
}

.water {
  background-color: $water-bg-color;
}