// Pokemon type colors
$bug-color: #8cb230;
$dark-color: #58575f;
$dragon-color: #0f6ac0;
$electric-color: #eed535;
$fairy-color: #ed6ec7;
$fighting-color: #d04164;
$fire-color: #fd7d24;
$flying-color: #748fc9;
$ghost-color: #556aae;
$grass-color: #62b957;
$ground-color: #dd7748;
$ice-color: #61cec0;
$normal-color: #9da0aa;
$poison-color: #a552cc;
$psychic-color: #ea5d60;
$rock-color: #baab82;
$steel-color: #417d9a;
$water-color: #4a90da;

// Pokemon background colors
$bug-bg-color: #8bd674;
$dark-bg-color: #75747e;
$dragon-bg-color: #1582e7;
$electric-bg-color: #f2cb55;
$fairy-bg-color: #e98acc;
$fighting-bg-color: #eb4971;
$fire-bg-color: #ff9448;
$flying-bg-color: #829edb;
$ghost-bg-color: #6882d4;
$grass-bg-color: #8bbe8a;
$ground-bg-color: #f78551;
$ice-bg-color: #6bddce;
$normal-bg-color: #c5c9d6;
$poison-bg-color: #bd5fe9;
$psychic-bg-color: #ff787a;
$rock-bg-color: #d5c895;
$steel-bg-color: #4d92b4;
$water-bg-color: #58abf6;