<aside class="sidebar">
  <app-dynamic-form
    [dynamicFormGroup]="form"
    [fieldConfigs]="formFieldConfigs"
  ></app-dynamic-form>
  <div class="action-buttons">
    <button
      type="button"
      class="btn btn-primary btn-sm"
      (click)="filterPokemon()"
    >
      Search
    </button>
    <button
      type="button"
      class="btn btn-secondary btn-sm"
      (click)="clearFilters()"
    >
      Clear Filters
    </button>
  </div>

  <div class="result-count" *ngIf="pokemonFilters$ | async as pokemonFilters">
    <p>
      🔍 <strong>{{ (pokemonList$ | async)?.length }} Pokémon found.</strong>
    </p>
  </div>
</aside>
