<aside class="sidebar">
  <!-- <form [formGroup]="form" class="form">
    <app-dropdown
      formControlName="type"
      [options]="pokemonTypeOptions"
      placeholder="Select Pokémon Type"
    >
    </app-dropdown>

    <app-checkbox-group
      label="Height"
      [options]="heightOptions"
      formControlName="heightCategory"
    >
    </app-checkbox-group>

    <div formGroupName="stats">
      <h4>Stats</h4>
      <div class="slider-container">
        <span>HP</span>
        <app-slider-number
          formControlName="hp"
          [min]="0"
          [max]="100"
        ></app-slider-number>
      </div>
      <div class="slider-container">
        <span>Attack</span>
        <app-slider-number
          formControlName="attack"
          [min]="0"
          [max]="100"
        ></app-slider-number>
      </div>
      <div class="slider-container">
        <span>Defense</span>
        <app-slider-number
          formControlName="defense"
          [min]="0"
          [max]="100"
        ></app-slider-number>
      </div>
      <div class="slider-container">
        <span>Speed</span>
        <app-slider-number
          formControlName="speed"
          [min]="0"
          [max]="100"
        ></app-slider-number>
      </div>
    </div>

    <div class="action-buttons">
      <button
        type="button"
        class="btn btn-primary btn-sm"
        (click)="filterPokemon()"
      >
        Search
      </button>
      <button
        type="button"
        class="btn btn-secondary btn-sm"
        (click)="clearFilters()"
      >
        Clear Filters
      </button>
    </div>

    <div class="result-count" *ngIf="pokemonFilters$ | async as pokemonFilters">
      <p>
        🔍 <strong>{{ (pokemonList$ | async)?.length }} Pokémon found</strong>
      </p>
    </div>
  </form> -->

  <app-dynamic-form
    [dynamicFormGroup]="form"
    [fieldConfigs]="formFieldConfigs"
  ></app-dynamic-form>
  <div class="action-buttons">
    <button
      type="button"
      class="btn btn-primary btn-sm"
      (click)="filterPokemon()"
    >
      Search
    </button>
    <button
      type="button"
      class="btn btn-secondary btn-sm"
      (click)="clearFilters()"
    >
      Clear Filters
    </button>
  </div>

  <div class="result-count" *ngIf="pokemonFilters$ | async as pokemonFilters">
    <p>
      🔍 <strong>{{ (pokemonList$ | async)?.length }} Pokémon found</strong>
    </p>
  </div>
</aside>
