.virtual-grid-viewport {
  height: 75vh;
  width: 100%;
  overflow: auto;
}

.virtual-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  grid-auto-rows: 280px;
}

.virtual-grid-item {
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}