<app-header></app-header>
<div class="main-container">
  <app-sidebar></app-sidebar>

  <div class="pokemon-list-container">
    <ng-container *ngIf="(pokemonList$ | async) as pokemonList">
      <cdk-virtual-scroll-viewport [itemSize]="itemSize" class="virtual-grid-viewport">
        <div class="virtual-grid-container">
          <div *cdkVirtualFor="let pokemon of pokemonList; trackBy: trackByIndex" class="pokemon-card virtual-grid-item">
            <h3>{{ pokemon.name | titlecase }}</h3>
            <a [routerLink]="['/pokemon', getPokemonId(pokemon.url)]">View Details</a>
          </div>
        </div>

        <div class="loading-indicator" *ngIf="isLoading$ | async">
          <p>Loading more Pokémon...</p>
        </div>
        
        <div class="end-message" *ngIf="!(hasMorePokemon$ | async) && !(isLoading$ | async) && pokemonList.length > 0">
          <p>No more Pokémon to load!</p>
        </div>
        
        <div *ngIf="pokemonList.length === 0 && !(isLoading$ | async)" class="empty-state">
          <p>No Pokémon found. Try refreshing the page.</p>
        </div>
      </cdk-virtual-scroll-viewport>
    </ng-container>
  </div>

</div>
