.main-container {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  gap: 20px;
}



.content {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 200px;
}

@media (max-width: 768px) {
  .main-container {
      flex-direction: column;
  }

  .content {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  .content {
      grid-template-columns: 1fr;
  }
}