<div *ngIf="pokemon" class="pokemon-card">
  <div class="card-header">
    <button class="back-button">
      <i class="arrow-left"></i>
    </button>
    <button class="favorite-button">
      <i class="heart-icon"></i>
    </button>
  </div>
  
  <div class="pokemon-image-container">
    <img [src]="pokemon?.sprites?.other?.showdown?.front_default" [alt]="pokemon.name" class="pokemon-image" />
  </div>
  
  <div class="card-content">
    <h2 class="pokemon-name">{{ pokemon.name | titlecase }}</h2>
    <p class="pokemon-number">N°{{ pokemon?.id?.toString()?.padStart(3, '0') }}</p>
    
    <div class="type-badges">
      <span class="type-badge fire">Fogo</span>
      <span class="type-badge flying">Voador</span>
    </div>
  </div>
</div>
