<div *ngIf="details" class="pokemon-card">
  <div class="card-header">

  </div>

  <div class="pokemon-image-container" [ngClass]="details.types[0].type.name">
    <div class='pokeball-bg'></div>
    <img
      [src]="details?.sprites?.other?.showdown?.front_default"
      [alt]="details.name"
      class="details-image"
    />
  </div>

  <div class="card-content">
    <h2 class="pokemon-name">
      {{ details.name | titlecase }}
      <span class="pokemon-number">
        #{{ details?.id }}
      </span>
    </h2>


    <div class="types">
      <div *ngFor="let type of details.types" [ngClass]="type.type.name">
        <img [src]="type | typeIcon" [alt]="details.name" />
        <span class="type-name">{{ type.type.name }}</span>
      </div>
    </div>
  </div>
</div>
